<article class="h-entry">
  <address class="u-author h-card">
    <a href="/{{profile.username}}" class="p-name u-url">{{profile.username}}</a>
  </address>

  <p class="p-content p-name">{{{note.content}}}</p>

  <a href="/{{profile.username}}/notes/{{note.id}}">
    <time datetime="{{timestamp note.created_at}}" class="dt-published">
      {{timestamp note.created_at format="M/D/YY h:mm A"}}
    </time>
  </a>
</article>
