<article class="h-entry">
  <address class="u-author h-card">
    <a href="/{{profile.username}}" class="p-name u-url">{{profile.username}}</a>
  </address>

  <p class="p-content p-name">{{{note.content}}}</p>

  <time datetime="{{noteCreatedMachine}}" class="dt-published">
    {{noteCreatedHuman}}
  </time>
</article>
