<!DOCTYPE html>
<html>
  <head>
    <title>
      {{#if pageTitle }}
        {{pageTitle}}
        -
      {{/if}}
      Indie Web for All
    </title>

    {{#if metas}}
      {{#each metas}}
        <meta
          {{#if name}}name="{{name}}"{{/if}}
          {{#if content}}content="{{content}}"{{/if}}
        >
      {{/each}}
    {{/if}}

    {{#if links}}
      {{#each links}}
        <link
          {{#if rel}}rel="{{rel}}"{{/if}}
          {{#if href}}href="{{href}}"{{/if}}
        >
      {{/each}}
    {{/if}}
  </head>

  <body>
    <h1>Indie Web for All</h1>

    <main>
      {{{body}}}
    </main>
  </body>
</html>